/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "styles/_colors.scss";
@import "styles/_fonts.scss";

// :root {

// } 

html, body { min-height: 100vh;}
body { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    min-height: 100vh;
}

html {
    font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}