/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "styles/_colors.scss";
@import "styles/_fonts.scss";

// :root {

// } 

html, body { 
  min-height: 100vh;
  @media screen and (max-width: 62.5em) {
        margin: 0;
        max-width: 100%;
        min-width: 100%;
    }
}
body { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    min-height: 100vh;
    min-width: max-content;
  
  
}



html {
    font-size: 62.5%;
}

$bp-large: 62.5em;
$bp-medium: 50em;
$bp-small: 37.5em;

*,
*::before,
*::after {
  box-sizing: inherit;
}