<!-- create a signup form here using material reactive forms-->
<!-- create a mat-card to hold the login form -->


<div class="login-card-container">
  <mat-card>

    <mat-card-title>Login</mat-card-title>
  
    <div class="login-form-container">
      <form class="form-container" [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
  
  
        <div class="form-group">
          <mat-form-field>
            <input matInput placeholder="Email" formControlName="email">
          </mat-form-field>
         
         <!-- create a mat-error if email is invalid -->
          <mat-error *ngIf="loginForm.controls.email.invalid && loginForm.controls.email.touched">
              <span *ngIf="loginForm.controls.email.errors.required">Email is required</span>
              <span *ngIf="loginForm.controls.email.errors.email">Email is invalid</span>
          </mat-error>
          
          
        </div>
        <div class="form-group">
          <mat-form-field>
            <input matInput placeholder="Password" formControlName="password" type="password">
          </mat-form-field>
          <!-- //create a mat-error if password is invalid or does not contain at least one number and one capital letter -->
          <mat-error *ngIf="loginForm.controls.password.invalid && loginForm.controls.password.touched">
              <span *ngIf="loginForm.controls.password.errors.required">Password is required</span>
              <span *ngIf="loginForm.controls.password.errors.minlength">Password must be at least 6 characters</span><br>
            <!-- new line -->
              <span *ngIf="loginForm.controls.password.errors.pattern">Password must contain at least one number and one capital letter</span>
          </mat-error>
        </div>

  
        <div class="form-group">
          <button class="loginButton" mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Sign up</button>
        </div>

        <!-- create a link to the register component  -->
        <div id="register-link">
          <a routerLink="/register">Don't have an account? Sign up here</a>
        </div>
  
      </form>
    </div>
  
  </mat-card>
</div>
