mat-form-field {
    width: 20rem;
    //center the label
    margin: 0 auto;
}

mat-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30rem;
    height: 30rem;
    margin:  auto;
    text-align: center;
    //align verticallly
    align-items: center;
  
}

mat-card-title {
  margin: 0 auto;
}

.login-form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

}

.login-card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.loginButton{
    margin-top: 2rem;
   
}

#register-link{
    margin-top: 2rem;
    
}
