<div class="main">
    <div id="title">
        <!-- need to change this back to the round selection after testing finsihed -->
        <a routerLink="/rounds"><h1>Rock, Paper, Scissors</h1></a>
    </div>
    <div class="outletContainer">
        <!-- //going to have to build the margins in here -->
        <!-- so that the content is centered -->
        <router-outlet></router-outlet>
    </div>
    <div id="leaderBoardBox">
        <a routerLink="/leaderboard">View Leaderboard</a>
    </div>
</div>

